@if (TempData["SuccessMessage"] is string success)
{
    <div class="alert alert-success alert-dismissible fade show shadow-sm" role="alert">
        <i class="bi bi-check-circle-fill me-1"></i> @success
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
@if (TempData["ErrorMessage"] is string error)
{
    <div class="alert alert-danger alert-dismissible fade show shadow-sm" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-1"></i> @error
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
