@model Cliente

<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
<div class="row g-3">
    <div class="col-md-8">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" placeholder="Nombre completo o razón social" />
        <span asp-validation-for="Nombre" class="text-danger small"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Cedula" class="form-label"></label>
        <input asp-for="Cedula" class="form-control" placeholder="1-0234-0567 o 3-101-123456" />
        <span asp-validation-for="Cedula" class="text-danger small"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Correo" class="form-label"></label>
        <input asp-for="Correo" class="form-control" type="email" placeholder="correo@empresa.cr" />
        <span asp-validation-for="Correo" class="text-danger small"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" placeholder="2222-3333" />
        <span asp-validation-for="Telefono" class="text-danger small"></span>
    </div>
    <div class="col-12">
        <label asp-for="Direccion" class="form-label"></label>
        <input asp-for="Direccion" class="form-control" placeholder="Provincia, Cantón, Señas" />
        <span asp-validation-for="Direccion" class="text-danger small"></span>
    </div>
</div>
